<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <section>
            <div class="container p-5">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <div class="card">
                            <div class="card-header text-center fs-4">
                                Reset Password
                            </div>
                            <div class="card-body">
                                <form action="/changePassword" method="post">
                                    <div class="mb-3">
                                        <label>Enter New Password </label>
                                        <input type="text" name="psw" class="form-control"/>
                                    </div>
                                    <div class="mb-3">
                                        <label>Enter Confirm Password </label>
                                        <input type="text" name="cpsw" class="form-control"/>
                                    </div>
                                    
                                    <input type="hidden" name="id" th:value="${id}" >
                                    
                                    <button class="btn btn-dark col-md-12">Confirmar</button>
                                </form>   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
